p{
    background-color: rgb(17, 209, 209);
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    background-color: burlywood;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:italic ;
    text-align: center;
    margin: 10px;
}
.hudai{
    background: #c50e0e;
    padding: 12%;
    text-align: left;
    color:  #b89e9e;
}
div{
    background: #420b0b;
}